body {
    background-color: gainsboro;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #f51414;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

a {
    color: #df0f0f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}